<nav>
  <div class="nav"
    [ngClass]="{'nav-column': mode === 'column'}">

    <a mat-button
      routerLink="/"
      routerLinkActive="active"
      class="nav-item"
      (click)="onToggleSidenav()"
      *ngIf="mode === 'column'">
      Inicio
    </a>

    <a mat-button
      routerLink="/peliculas/buscar"
      routerLinkActive="active"
      (click)="onToggleSidenav()"
      class="nav-item">
      Buscar Peliculas
      <!-- <mat-icon>search</mat-icon> -->
    </a>

    <div *ngIf="user?.isLoggedIn && user?.isAdmin"
      [ngClass]="{'nav-column': mode === 'column'}">
      <a mat-button
        routerLink="/peliculas/edit"
        routerLinkActive="active"
        (click)="onToggleSidenav()"
        class="nav-item">
        <!-- <mat-icon>add</mat-icon> -->
        Crear Pelicula
      </a>
      <a mat-button
        routerLink="/generos"
        routerLinkActive="active"
        (click)="onToggleSidenav()"
        class="nav-item">
        Géneros
      </a>
      <a mat-button
        routerLink="/actores"
        routerLinkActive="active"
        (click)="onToggleSidenav()"
        class="nav-item">
        Actores
      </a>
      <a mat-button
        routerLink="/cines"
        routerLinkActive="active"
        (click)="onToggleSidenav()"
        class="nav-item">
        Cines
      </a>

    </div>
  </div>
</nav>
