.logo {
  display: flex;
  align-items: center;
}

.logo a .title {
  font-size: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.menu-trg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.user-data {
  font-size: 14px;
  margin-right: 5px;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
