form {
  width: min(600px, 100%);
  padding: 1.5rem;
}

.form-container {
  margin: 2rem 0;
  display: grid;
  width: 100%;
}

form h2 {
  margin: 0;
  margin-bottom: 1.2rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: .75rem;
}

.chx {
  margin-bottom: 1.5rem;
}

.poster h4 {
  margin-top: 0;
}

.act-btn {
  margin-top: -1rem;
  display: flex;
  gap: 1rem;
}

.act-btn button {
  display: block;
  width: min(100%, 300px);
  margin-bottom: .75rem;
}

mat-spinner {
  margin: 4rem auto;
}

@media screen and (max-width:575px) {
  mat-form-field {
    display: block;
    width: 100%;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .act-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .act-btn button {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1100px) {

  form {
    width: 100%;
    max-width: 1200px;
  }

  .form-container {
    grid-template-columns: 500px auto;
    grid-template-rows: auto auto;
    grid-template-areas: "first second";
    column-gap: 2rem;
  }

  .l-content {
    grid-area: first;
    height: auto;
    grid-column: 1;
    grid-row: 1;
  }

  .l-content-bottom {
    margin-top: 1rem;
    grid-column: 1;
    grid-row: 2;
  }

  .r-content {
    grid-area: second;
    height: auto;
    grid-column: 2;
    grid-row: 1;
  }

  .r-content-bottom {
    margin-top: 1rem;
    grid-column: 2;
    grid-row: 2;
  }


}
