mat-sidenav-container {
  height: 100%;
  overflow-y: hidden;
}

app-header {
  width: 100%;
}

.main-content {
  width: 100%;
  margin-top: 65px;
  margin-bottom: 65px;
}

.container {
  margin: auto;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  width: min(1200px, 90%);
}

@media screen and (max-width:575px) {
  mat-toolbar {
    padding: 0;
  }

  mat-sidenav {
    width: 60%;
  }
}
