mat-tab-group {
  margin-bottom: 1.5rem;
  border: 1px solid lightgray;
  width: 100%;
}

.tab-icon {
  margin-right: .25rem;
}

mat-form-field {
  width: 100%;
  padding-bottom: 0;
}

mat-form-field textarea {
  height: 300px;
  /* text-align: justify; */
}

markdown {
  /* text-align: justify; */
  max-width: 100%;
}

markdown p {
  padding: 0 10px;
}
