form {
  width: min(500px, 100%);
  padding: 1.5rem;
}

form h2 {
  margin: 0;
  margin-bottom: 1.2rem;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1rem;
}

.act-btn {
  display: flex;
  gap: 1rem;
}

.act-btn button {
  width: 100%;
}
