form>* {
  max-width: 250px;
  font-size: 14px;
  font-family: inherit;
  opacity: .7;
}

mat-label {
  font-weight: 300;
}

form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  width: 100%;
}

mat-form-field {
  padding: 0;
  height: 100%;
  width: 100%;
}
