/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: auto;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
  margin-top: 1.5rem;
  width: min(100%, 600px);
}

mat-spinner {
  margin: 4rem auto;
}

table td a {
  margin: 0 .5rem;
}

table .cta-span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

table .cta-span mat-icon {
  margin-left: .25rem;
}

.paginator {
  width: min(100%, 600px);
}

.shadow {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.20);
}

.shadow-sm {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.20);
}

.active {
  background-color: rgba(0, 0, 0, 0.2);
}

.mat-card-image:first-child {
  margin-top: 0 !important;
}

.no-data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(100%, 500px);
  margin: 2rem auto;
  padding: .5rem;
  background-color: #fcf8e3;
  color: #776719;
}

.no-data-container mat-icon {
  margin-right: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(63, 23, 23, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(100, 100, 100);
  border-radius: 25px;
}
